<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<head th:include="fragments/fragment_head"></head>
<body>
<div class="row text-white" id="row">
    <div class="d-md-none d-lg-block col-lg-2"></div>
    <div id="mainContainer" class="col-md-12 col-lg-8">
        <div id="content">
            <div th:replace="fragments/fragment_top"></div>
            <div class="row">
                <div class="d-md-none d-lg-block col-lg-1"></div>
                <div class="p-5 col-md-12 col-lg-10">
                    <form action="#" th:action="@{/user/gallery/add}" method="post" class="p-3" enctype="multipart/form-data">
                        <div class="border border-light p-3 m-2">
                            <h3>ZDJĘCIA</h3>
                            <div class="form-group">
                                <input type="file" multiple="multiple" th:field="${file.multipartFiles}" name="file" id="insertPictures">
                                <label class="text-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></label>
                            </div>
                        </div>
                        <button class="form-control btn btn-info" type="submit">DODAJ</button>
                    </form>
                </div>
                <div class="d-md-none d-lg-block col-lg-1"></div>
            </div>
        </div>
        <div th:replace="fragments/fragment_bottom"></div>
    </div>
    <div class="d-md-none d-lg-block col-lg-2">
        <div th:replace="fragments/fragment_logout"></div>
    </div>
</div>
</body>
</html>