<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<head th:include="fragments/fragment_head"></head>
<body>
<div class="row text-white" id="row">
    <div class="d-md-none d-lg-block col-lg-2"></div>
    <div id="mainContainer" class="col-md-12 col-lg-8">
        <div id="content">
            <div th:replace="fragments/fragment_top"></div>
            <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div th:include="manufacturer/fragment_form_search_manufacturer"></div>
                </div>
                <div class="col-md-12 col-lg-9">
                    <div th:if="${#lists.size(manufacturers) > 0}" th:each="manufacturer : ${manufacturers}">
                        <div th:include="manufacturer/fragment_one_manufacturer :: fragmentOneManufacturer(${manufacturer})"></div>
                    </div>
                    <div th:if="${#lists.isEmpty(manufacturers)}" class="mt-5">
                        <h5>BRAK POZYCJI DO WYŚWIETLENIA</h5>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/fragment_bottom"></div>
    </div>
    <div class="d-md-none d-lg-block col-lg-2">
        <div th:replace="fragments/fragment_logout"></div>
    </div>
</div>
<script th:src="@{/js/my_js_function.js}"></script>
</body>
</html>