<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<head th:include="fragments/fragment_head"></head>
<body>
<div class="row text-white" id="row">
    <div class="d-md-none d-lg-block col-lg-2"></div>
    <div id="mainContainer" class="col-md-12 col-lg-8">
        <div th:replace="fragments/fragment_top"></div>
        <div id="content" class="mt-5">
            <h2>COS POSZŁO NIE TAK !!!!!!!!!!!!</h2>
        </div>
        <div th:replace="fragments/fragment_bottom"></div>
    </div>
    <div class="d-md-none d-lg-block col-lg-2"></div>
        <div th:replace="fragments/fragment_logout"></div>
    </div>
</div>
<script th:src="@{/js/my_js_function.js}"></script>
</body>
</html>