<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head th:include="fragments/fragment_head"></head>
<body>
<div th:fragment="fragments/fragment_top" style="margin-top: 25px; opacity: 70%; font-size: 20px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="font-size: 22px; font-weight: bold;">STRONA GŁÓWNA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/alcohol/all">Kolekcja</a>
                </li>
                <li class="nav-item active" th:if="${#request.isUserInRole('USER') or #request.isUserInRole('ADMIN')}">
                    <a class="nav-link" href="/user/">Zarządzanie</a>
                </li>
                <li class="nav-item active" th:if="${#request.isUserInRole('ADMIN')}">
                    <a class="nav-link" href="/admin/">Administracja</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/gallery">Galeria</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>