<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<head th:include="fragments/fragment_head"></head>
<body>
<div class="row text-white" id="row">
    <div class="d-md-none d-lg-block col-lg-2"></div>
    <div id="mainContainer" class="col-md-12 col-lg-8">
        <div th:replace="fragments/fragment_top"></div>
        <div id="content">
            <div class="row">
                <div class="d-md-none d-lg-block col-lg-1"></div>
                <div class="p-5 col-md-12 col-lg-10">
                    <form action="#" id="sendMessageForm" th:action="@{/user/sendEMailAllNewsletter}" method="post" class="p-3">
                        <div class="form-group">
                            <label for="insertSubject">Temat wiadomości</label>
                            <input type="text" id="insertSubject" name="subject" class="form-control" placeholder="Temat wiadomości">
                        </div>
                        <div class="form-group">
                            <label for="insertMessage">Treść wiadomości:</label>
                            <textarea rows="10" name="message" class="form-control" id="insertMessage" placeholder="Treść wiadomości"></textarea>
                        </div>
                        <a class="form-control btn btn-info" role="button" th:onclick="|showAndHide('confirmSendMessage')|">Wyślij</a>
                        <div th:id="'confirmSendMessage'" style="display: none;">
                            <p th:text="'Potwierdź wysłanie wiadomości'"></p>
                            <div class="clearfix">
                                <button type="button" th:onclick="|showAndHide('confirmSendMessage')|" class="btn btn-success">Anuluj</button>
                                <button class="btn btn-danger" type="submit" >Potwierdź</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="d-md-none d-lg-block col-lg-1"></div>
            </div>
        </div>
        <div th:replace="fragments/fragment_bottom"></div>
    </div>
    <div class="d-md-none d-lg-block col-lg-2">
        <div th:replace="fragments/fragment_logout"></div>
    </div>
</div>
<script th:src="@{/js/my_js_function.js}"></script>
</body>
</html>